.add-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-container h2 {
    color: white;
    font-size: 40px;
}
.add-container .add-form{
    width: 90vw;
}

.add-container h2 span {
    color: rgb(255, 193, 7);
}

.register-operator-form {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 15px;
    /* flex-direction: column; */
    color: white;
    margin-top: 20px;
}

.register-operator-form .input {
    width: 40%;
}

.register-operator-form label {
    font-weight: bold;
    font-size: 20px;
}

.register-operator-form input {
    border: 2px solid rgb(255, 193, 7);
    outline: none;
    width: 100%;
    font-size: 15px;
    background-color: #13131a;
    padding: 10px 0px;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
    /* min-width: 100%; */
    /* max-width: 500px; */
}

.register-operator-form button {
    background-color: rgb(255, 193, 7);
    border: none;
    color: white;
    width: 25%;
    padding: 12px 0px;
    font-size: 17px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}